<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scralable=0"
    />
    <title>Loan Management</title>

    <!-- Favicon Image Files -->
    <link rel="icon" type="image/jpg" href="/static/images/favicon.svg" />

    <!-- CSS Styles Files -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/vendor/dataTables.bootstrap5.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- JavaScript Files  -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.bundle.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/dataTables.bootstrap5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.bundle.min.js.map') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.js"></script>
  </head>
  <body id="TOP">
    <header>{% include 'navs/navbar.html' %}</header>

    <main {% if not hide_navbar %} style="margin-top: 65px" {% endif %}>
      <!-- Flash messages section -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/autoLogout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flash_message_handler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/password_visibility_controller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form_validation.js') }}"></script>

    <!--
    - ionicon link
    -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
